{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        {#r row for the header content#}
        {% include 'admin/includes/header.twig' %}

        {% include'admin/includes/side-nav.twig' %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="#">Delete</a>
        {% endif %}

    </div>
{% endblock %}