{% extends 'base.html.twig' %}
{% block body %}
    {#r row for the header content#}
    {% include 'admin/includes/header.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% include'admin/includes/side-nav.twig' %}
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <h5>Advatech Staff &nbsp; &nbsp; &nbsp; <button  href="#" type="button" class="btn btn-outline-primary btn-sm">Add New Staff</button></h5>

            </main>
        </div>
    </div>
{% endblock %}