 <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('import_data') }}">Import Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Export Data</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Staff</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Task</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Advatech CC</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Devices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Service</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Equipments</a>
        </li>
    </ul>
 </nav>